/20151125.sql
/acesso_baseDeTexto.txt
/ComandoMySql.sql
/Count hits when grouping by distinct values in some column.sql
/Find records only present in 1 of 2 tables.sql
/UNO-RelatorioCanaisRevendaQualificacao.sql
/unoproducao.txt